

body{
	width: 100%;
	position: relative;
	height: 100%;
	background: #ebebeb;
	font-family: Arial;
}

.page{
	position: relative;
}

.page,.sortTheme,.sortList,.sortCategory,.sortCategory ul{
	width: 100%;
	text-align: center;
}

.sortTheme{
	padding: 10px 0 6px 0;
	display: inline-block;
}

.sortTheme h2{
	font-size: 22px;
	text-align: left;
	padding: 6px 0 9px 0;
}

.con{
	width: 90%;
	display: inline-block;
	text-align: left;
}

.sortCategory{
	padding: 6px 0 0 0;
}

.sortCategory h3{
	width: 100%;
	display: inline-block;
	font-size: 27px;
	color: #3e3e3e;
	font-weight: bold;
	background: #aaaaaa;
	padding: 6px 0;
}

.sortCategory ul{
	display: none;
}

.sortCategory:nth-child(1) ul{
	display: inline-block;
}

.sortCategory li{
	width:100%;
	border-bottom: 1px #959595 solid;
	display: inline-block;
	padding: 10px 0;
}

.sortCategory li:last-child{
	border:none;
}

.sortCategory li h4{
	font-size: 20px;
	font-family: Arial;
	color: #3e3e3e;
}

.sortCategory li p{
	color: #818181;
	font-size: 12px;
	padding: 2px 0 0 0;
}







header,article,footer{
	width: 100%;
	position: relative;
	text-align: center;
}

article{
	height: 100%;
	overflow: auto;
	-ms-overflow-scrolling: touch; 
    -moz-overflow-scrolling: touch; 
    -webkit-overflow-scrolling: touch; 
    -o-overflow-scrolling: touch;  
}

.logo{
	width: 56%;
	display: inline-block;
	margin: 3em 0 1.6em 0;
}

.container{
	width: 90%;
	display: inline-block;
	color: #484848;
	text-align: left;
	padding: 0 0 6.7em 0;
}

.info,.info ul,.info li{
	width: 100%;
	display: inline-block;
}

.info{
	padding: 0 0 1em 0;
	color: #484848;
}

.info h1{
	font-size: 1.7em;
	padding: 0 0 6px 0;
}

.info li{
	padding: 1px 0 0 0;
	line-height: 16px;
	font-size: 13px;
}

.info li span,.info li p{
	float: left;
	display: inline-block;
}

.info li span{
	padding: 0 3px 0 0;
	font-weight: bold;
}

.info li p{
	color: #696969;
}

footer{
	position: absolute;
	left: 0;
	bottom: 0;
	background: #959595;
}

footer .con{
	width: 90%;
	text-align: left;
	position: absolute;
	left: 5%;
	top: 36%;
	z-index: 2;
}

footer .con em{
	width: 50%;
	float: right;
	display: inline-block;
	color: #fff;
	text-align: right;
}

footer .con a{
	width: 50%;
	float: left;
	display: inline-block;
	color: #fff;
}

footer .con a img{
	width: 10%;
	display: inline-block;
	margin: 0 6px 0 0;
	vertical-align: middle;
}

.opacity{
	opacity: 0;
}


/* login */
.loginContainer{
	width: 80%;
	height: 70%;
	background: rgba(255,255,255,0.75);
	position: absolute;
	left: 50%;
	top: 15%;
	margin: 0 0 0 -40%;
}

.login_con{
	width: 80%;
	display: inline-block;
	margin: 12% 0 0 0;
}

.login_tips{
	font-size: 14px;
	line-height: 20px;
	height: 86px;
	display: inline-block;
	width: 100%;
	margin: 16px 0 0 0;
}

.login_form,.login_form ul,.login_form ul li{
	width: 100%;
	display: inline-block;
	text-align: left;
}

.login_form ul li{
	padding: 3px 0;
}

.login_form ul li p{
	font-size: 16px;
	color: #111010;
	padding: 3px 0;
	width: 100%;
	display: inline-block;
}

.login_form ul li input{
	width: 100%;
	height: 32px;
	line-height: 32px;
	padding: 3%;
	display: inline-block;
	color: #333;
	border: 1px #c5c5c5 solid;
	border-radius: 3px;
	background: #fff;
}

.submit_btn{
	width: 50%;
	display: inline-block;
	margin: 10% 0 0 0;
}

.login_tips.error{
	color: #ea4b65;
}

/* outlet */
.infoAbout{
	width: 100%;
	padding: 10px 0 15px 0;
	display: inline-block;
	text-align: center;
	color: #484848;
}

.infoList{
	width: 100%;
	display: inline-block;
	margin: 0 0 10px 0;
}

.infoList h2{
	width: 100%;
	font-size: 14px;
	color: #fff;
	text-align: center;
	background: #b8b8b8;
	padding: 6px 0;
	margin: 0 0 6px 0;
}

.infoList p{
	padding: 2px 0;
	width: 100%;
	display: inline-block;
}

/*.infoList p em{
	font-weight: bold;
	width: 22%;
	float: left;
	display: inline-block;
	text-align: left;
}

.infoList p span{
	width: 72%;
	float: right;
	display: inline-block;
}*/

/* personal */
.personal_footer{
	background: none;
}

footer.personal_footer .con a{
	width: 36%;
	float: right;
	display: inline-block;
	text-align: right;
}

footer.personal_footer .con a img{
	width: 80%;
	margin: 0;
}

.personal_con{
	width: 80%;
	display: inline-block;
	margin: 0 0 0 10%;
}

.personal_about{
	width: 100%;
	line-height: 20px;
	color: #404040;
	padding: 0 0 10px 0;
}

.personal_form{
	width: 100%;
}

.personal_form li{
	padding: 4px 0;
	width: 100%;
	display: inline-block;
}

.personal_form li.fstyle-1 span{
	width: 16%;
	float: left;
	display: inline-block;
	height: 27px;
	line-height: 27px;
}

.personal_form li.fstyle-1 select,.personal_form li.fstyle-1 input{
	width: 82%;
	float: right;
	display: inline-block;
	height: 27px;
	line-height: 27px;
	vertical-align: middle;
}

.personal_form li.fstyle-1 input{
	border: 1px #c5c5c5 solid;
	padding: 0 3%;
	background: #fff;
}

.personal_form li.fstyle-3 input{
	display: inline-block;
	height: 27px;
	line-height: 27px;
	vertical-align: middle;
	width: 100%;
	border: 1px #c5c5c5 solid;
	padding: 0 3%;
	background: #fff;
}

.personal_form li.fstyle-3 p{
	padding: 0 0 10px 0;
}

.personal_form li.fstyle-2 span{
	width: 40%;
	float: left;
	display: inline-block;
	height: 27px;
	line-height: 27px;
}

.personal_form li.fstyle-2 select,.personal_form li.fstyle-2 input[type="date"],.personal_form li.fstyle-2 input[type="time"]{
	width: 136px;
	float: right;
	display: inline-block;
	height: 27px;
	line-height: 27px;
	vertical-align: middle;
}

.personal_form li.fstyle-4 p{
	padding: 6px 0;
	font-size: 18px;
}

.personal_form li.fstyle-4 span{
	width: 100%;
	display: inline-block;
}

.personal_form li.fstyle-4 span label{
	width: 50%;
	float: left;
	display: inline-block;
	padding: 6px 0;
}

.personal_form li.fstyle-4 span label input{
	display: inline-block;
	vertical-align: middle;
	margin: 0 6px 0 0;
}

.sortTips{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
    background: #aaaaaa;
    text-align: center;
    box-shadow: 0 1px 6px #333;
}

.sortTips p{
	padding: 6px 0;
	width: 100%;
	display: inline-block;
	font-size: 27px;
    color: #3e3e3e;
    font-weight: bold;
}

.loginframe{
	display: none;
}

#successTips img{
	width: 60%;
	display: inline-block;
	margin: 9em 0 0 0;
}



/* store */
.store .container{
	padding-bottom: 1.2em;
}

.store h2{
	font-size:24px;
	width: 100%;
	text-align: left;
	padding: 16px 0 18px 0;
}

.storeInfo{
	padding: 20px 0 0 0;
	display: inline-block;
	font-size: 14px;
	line-height:22px;
	font-family: "Heiti TC", Arial;
	color: #444;
	width: 90%;
	margin: 0 0 0 10%;
	position: relative;
}

.store h3{
	font-size: 16px;
	font-weight: bold;
	padding:0 0 3px 0;
}

.flagIcon{
	width: 6%;
	height: 100%;
	position: absolute;
	left:-10%;
	top:0;
	background: url("../imgs/flagIcon.png") no-repeat center 16%;
	background-size:100% auto;
}

.store .teltext{
	padding:6px 0;
	width: 100%;
	display: inline-block;
}

.store .teltext a{
	color: #444;
}

.infocontext{
	width: 100%;
	text-align: left;
	display: inline-block;
	padding:0 0 10px 0;
	line-height: 24px;
	color: #444;
	font-size: 14px;
}

.infocontext h5{
	font-size: 18px;
	padding: 15px 0 8px 0;
	width: 100%;
	display: inline-block;
	font-weight: bold;
}

.infocontext p{
	padding:8px 0;
	width: 100%;
	display: inline-block;
}

.infocontext p strong{
	font-weight: bold;
	padding: 0 0 9px 0;
	font-size: 16px;
	width: 100%;
	display: inline-block;
}



/* question */
.qNode{
	width: 100%;
	display: inline-block;
	padding: 10px 0 20px 0;
	line-height: 22px;
}

.qNode dl{
	width: 100%;
	float: left;
	display: inline-block;
	padding: 4px 0;
	font-size: 14px;
	color: #444;
	font-family: "Heiti TC";
}

.qNode dl.qtitle{
	font-size: 16px;
	color: #333;
}

.qNode dt{
	width: 5%;
	float: left;
	display: inline-block;
}

.qNode dd{
	width: 92%;
	float: left;
	display: inline-block;
	margin: 0 0 0 3%;
	font-size: 15px;
	/*text-align: justify;*/
}

.qNode dl.qtitle dt,.qNode dl.qtitle dd,.qNode dt,.qNode dd em,.qNode dd a{
	font-weight: bold;
	color: #333;
	font-size: 16px;
}

.qNode dd p{
	padding: 6px 0;
	width: 100%;
	display: inline-block;
}

.qNode dd em{
	padding: 0 0 6px 0;
	display: inline-block;
}