.logpage{
  margin:180px auto;
  background-color: #ddd;
  width: 400px;
  border-radius: 4px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.5);
  padding:5px 5px 20px 5px;
  position:relative;
}

.logpage>div{
  width: 100%;
  display: block;
  position:relative;
}

.logpage>div:nth-child(1){
  color: #333;
  line-height: 30PX;
  font-size: 25px;
  padding-left:20px;
}

.logpage>div:nth-child(2){
  padding: 20px 0px;
}

.logpage>div:nth-child(2)>div{
  padding: 5px 5px;
  width:60%;
  margin: 0px auto;
}

input:focus{
  outline: #00FF00 dotted 0px;
}

.logpage>div:nth-child(2) input{
  width:100%;
  height: 30px;
  font-size: 15px;
}

.logpage>div:nth-child(3){
  text-align:center;
}

.btn-blue{
  background-color:#337ab7;
  border:1px solid #2e6da4;
  border-radius:4px;
  color:#fff;
  font-weight:bold;
  padding:0px 8px;
  cursor:pointer;
  height:26px;
}

.btn-blue:hover{
  background-color:#2e6da4;
  color:#ccc;
}

.tips{
  position:absolute;
  top:13px;
  left:40%;
  z-index:201;
  border-radius:5px;
  background-color:#EBF09E;
  padding:9px;
  font-size:110%;
  color:#777;
  font-weight:bold;
  box-shadow:0 0px 8px rgba(235, 240, 158, 0.6);
  opacity:0;
}

.dataoption2{
  display:none;
  position:fixed;
  right:0px;
  top:0px;
  left:0px;
  bottom:0px;
  background-color:rgba(0, 0, 0, 0);/*change background*//*//////////////////////////*/
  z-index:202;
  overflow:scroll;
}

.dataoption2>.faload{
    text-align:center;
    font-size:50px;
    color:rgba(0, 153, 204, 1);
    margin-top:30%;
}


/*bespeaklist stert*/
.bespeaklist thead>tr{
  color:#337ab7 !important;
  font-size:110%;
  border-bottom:1px solid #ccc;
  height:35px !important;
}

.bespeaklist{
    border-collapse:collapse;
    margin-top:20px;
    margin-left:20px;
    border-bottom:1px solid #ccc;
}

.bespeaklist tr{
  color:#333;
  text-align:left;
  height:30px;
}

.bespeaklist tbody>tr:hover{
  background-color: #ddd;
}

.bespeaklist tr>th{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding:2px 7px;
}

.bespeaklist tr>th:nth-child(1){
  max-width:70px;
}

.bespeaklist tr>th:nth-child(2){
  max-width:100px;
}

.bespeaklist tr>th:nth-child(3){
  max-width:120px;
}

.bespeaklist tr>th:nth-child(4){
  max-width:70px;
}

.bespeaklist  tr>th:nth-child(5){
  max-width:350px;
  text-align: center;
}

.bespeaklist tr>th:nth-child(6){
  max-width:400px;
  text-align: center;
}

.bespeaklist tr>th:nth-child(7){
  text-align: center;
}

.bespeaklist tr>th:nth-child(8){
  max-width:400px;
}

.bespeaklist tr>th:nth-child(9){
  text-align: center;
}

.bespeaklist tr>th:nth-child(10){
  text-align: center;
}

.fa-plus-square{
      color:green;
      cursor:pointer;
}

.dataoption dl dt{
  display:table-cell;
  width:180px;
  text-align:right;
}

.dataoption dl dd{
  display:table-cell;
  padding-left:5px;
}

.dataoption dl>dd>input{
  width:200px;
  padding:3px 8px;
  border:1px solid #205081;
}

.dataoption dd select{
  padding:0 8px;
  border:1px solid #205081;
  background-color:#fff;
  cursor:pointer;
}

.dataoption select  option{
  margin:10px;
  cursor:pointer;
}

.dataoption dd select:hover ,dl>dd>input:hover{
  box-shadow:0 0 10px #205081;
  border:1px solid #205081;
}

.faleft{
  float:left;
}

.fa-minus-square{
  color:red;
  cursor: pointer;
}

.bespeaklistfoot{
  text-align: center;
}

.bespeaklistfoot ul{
  padding: 0px;
  margin-top: 20px;
  border-collapse:collapse;
  /*border: 1px solid #777;*/
}

.bespeaklistfoot ul>li{
  padding: 10px;
  margin: 0px;
  margin-left: -4px;
  color: blue;
  display: inline;
  border-left: 1px solid #09A04F;
  border-top: 1px solid #09A04F;
  border-bottom: 1px solid #09A04F;
  background-color: #fff;
}

.bespeaklistfoot ul>li:last-child{
  border-right: 1px solid #09A04F;
}

.bespeaklistfoot ul>.pagenum:hover{
  background-color: #ddd;
  cursor: pointer;
}

.bespeaklistfoot ul>.chooseli{
  background-color: #09A04F !important;
}
/*bespeaklist end*/

.popupbox2{
  display:none;
  position:fixed;
  right:0px;
  top:0px;
  left:0px;
  bottom:0px;
  background-color:rgba(0, 0, 0, 0);/*change background*//*////////////////*/
  z-index:202;
  overflow:scroll;
}

.popupbox2>.faload{
    text-align:center;
    font-size:50px;
    color:rgba(0, 153, 204, 1);
    margin-top:30%;
}

#logout{
  color:red;
  cursor: pointer;
  float:right;
}

#logout:hover{
  text-decoration: underline;
}
